# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Data & Database
logs/
data/
*.db
*.sqlite
smart_nutrition.db

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
